In [25]:
import sqlite3
from sqlite3 import Error

In [26]:
def sqlite3_connect(db_file):
    """Establish connection with local database"""
    
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
        
    return conn

In [27]:
def sqlite3_table(conn, table_query):
    """Create a table from xyz statement"""
    
    try:
        c = conn.cursor()
        c.execute(table_query)
    except Error as e:
        print(e)

In [28]:
def sqlite3_inject():
    """Inject data to the database"""
    
    pass

In [29]:
def sqlite3_query():
    """Send a query to the database"""
    
    pass

In [30]:
def main():
    """ """
    
    database = r"otodom.db"
    
    sql_ads_table = """CREATE TABLE IF NOT EXISTS ads (
                           user_id integer,
                           ad_id integer,
                           category_id integer,
                           params text NOT NULL,
                           date text NOT NULL,
                           PRIMARY KEY (user_id, ad_id, category_id),
                           FOREIGN KEY (user_id) 
                               REFERENCES replies (user_id),
                           FOREIGN KEY (user_id) 
                               REFERENCES segments (user_id),
                           FOREIGN KEY (category_id)
                               REFERENCES categories (category_id)
                           );"""
    
    sql_replies_table = """CREATE TABLE IF NOT EXISTS replies (
                               user_id integer,
                               ad_id integer,
                               mails integer NOT NULL,
                               phones integer NOT NULL,
                               date text NOT NULL,
                               PRIMARY KEY (user_id, ad_id)
                               );"""
    
    sql_segments_table = """CREATE TABLE IF NOT EXISTS segments (
                                user_id integer PRIMARY KEY,
                                segment text NOT NULL
                                );"""
    
    sql_categories_table = """CREATE TABLE IF NOT EXISTS categories (
                                  category_id integer PRIMARY KEY,
                                  category_name text NOT NULL
                                  );"""
    
    conn = sqlite3_connect(database)
    
    if conn is not None:
        sqlite3_table(conn, sql_ads_table)
        sqlite3_table(conn, sql_categories_table)
        sqlite3_table(conn, sql_replies_table)
        sqlite3_table(conn, sql_segments_table)
    else:
        print("Error! cannot create the database connection.")

In [31]:
if __name__ == '__main__':
    main()

2.6.0